* {
    margin: 0;
}

#container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

div {
    background-color: rebeccapurple;
    min-width: 250px;
    min-height: 250px;
    margin: 15px;
    border: 2px solid black;
}