#container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

div {
    background-color: rebeccapurple;
    min-width: 250px;
    min-height: 250px;
    margin: 15px;
    border: 1px solid black;
}